body {
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000000;
  color: #ffffff;
}

button {
  background-color: #0a58ca;
  border: 0;
  border-radius: 30px;
  width: 120px; /* was 150 */
  height: 50px;
}

.buttons-section {
  height: 170px;
  display: flex;
  justify-content: space-evenly;
}

.result-div {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.score-div {
  display: flex;
  justify-content: space-around;
  width: 530px; /* was 630 */
}

.your-score {
  color: #00ff00;
}
.computer-score {
  color: #ff0000;
}

.button-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 100px;
  height: auto;
}

